<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="./base">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>prélèvement details</title>
</head>
<body>


<section layout:fragment="content" th:object="${prelevement}" class="container border border-2">

  <h1 class="text-center mt-4">Détails prélèvement</h1>
  <div class="row">
    <div class="col-6 mt-5">
      <h5> Code Prélèvement :<span th:text=" *{libelle}" class="badge bg-primary"></span></h5>
      <h5> Glacière :<span th:text=" *{glaciere.code}" class="badge bg-primary"></span></h5>
      <h5> Patient prélevé :<span th:text=" *{patient.email}" class="badge bg-primary"></span></h5>
      <h5> Type Prélèvement :<span th:text=" *{typePrelevement.libelle}" class="badge bg-primary"></span></h5>
      <h5> Volume :<span th:text="'' +  *{volume} + *{unite}" class="badge bg-primary"></span></h5>
      <h5> Conformité :<span th:text=" *{conformite.libelle}" class="badge bg-primary"></span></h5>
      <h5> Cause conformité :<span th:text=" *{cause_conformite}" class="badge bg-primary"></span></h5>


    </div>

    <div class="col-6 mt-4">
      <img src="/images/prelevement.JPG" width="500" alt="reception">
      <div class="d-flex mt-4 mt-6">
        <a th:href="@{/prelevement/add-form}" class="btn btn-primary btn-sm me-3 mb-3"> Ajouter un nouveau prélèvement </a>
        <a class="btn btn-outline-primary btn-sm mb-3" th:href="@{/prelevement}">Retour à la liste</a>
      </div>
    </div>
  </div>

</section>

</body>
</html>