<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="./base">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>preparation list</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container my-2">
        <h1>Liste des préparations</h1>

        <div class="d-flex mt-4">
            <a th:href="@{/preparation/add-form}" class="btn btn-primary btn-sm mb-3 me-3"> Faire une nouvelle préparation</a>
        </div>

        <table class="table table-striped table-responsive-md table-bordered text-center">
            <thead>
            <tr>
                <th>No</th>
                <th>Code Préparation</th>
                <th>Technique de Préparation</th>
                <th>Prélèvement</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="preparation, index: ${preparations}">
                <td th:text="${index.index + 1}"></td>
                <td th:text="${preparation.code}"></td>
                <td th:text="${preparation.techniquePreparations.libelle}"></td>
                <td th:text="${preparation.prelevement.libelle}"></td>
                <td>
                    <a th:href="@{/preparation/edit-form(id=${preparation.id})}" class="btn btn-warning btn-sm">Modifier</a>
                    <a th:href="@{/preparation/delete(id=${preparation.id})}" class="btn btn-outline-danger btn-sm">Supprimer</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>