<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="./base">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>glaciere new</title>
</head>
<body>
<section layout:fragment="content" class="container">
    <div class="d-flex justify-content-center " >
        <form th:action="@{/preparation/add}" th:object="${preparation}" method="post">
            <h2 class="mb-4">Enregistrer une préparation</h2>
            <div class="row">
                <div class="mb-4 col-3">
                    <label class="form-label" for="prelevement">Prélèvement:</label>
                    <select th:field="*{prelevement}" class="form-select" name="prelevement" id="prelevement" required>
                        <option value=" " selected></option>
                        <option th:each="prelevement : ${prelevements}" th:value="${prelevement.id}" th:text="${prelevement.libelle}"></option>
                    </select>
                    <span th:if="${#fields.hasErrors('prelevement')}" th:errors="*{prelevement}" class="text-danger"></span>
                </div>

                <div class="mb-4 col-6">
                    <label class="form-label" for="technique">Technique:</label>
                    <select th:field="*{techniquePreparation}" class="form-select" name="technique" id="technique">
                        <option value=" " selected></option>
                        <option th:each="technique : ${techniquePreparations}" th:value="${technique.id}" th:text="${technique.libelle}"></option>
                    </select>
                    <span th:if="${#fields.hasErrors('techniquePreparation')}" th:errors="*{techniquePreparation}" class="text-danger"></span>
                </div>

                <div class="mb-4 col-3">
                    <label class="form-label" for="nombre">Nombre:</label>
                    <input type="number" id="nombre" th:field="*{nombre}" class="form-control">
                    <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="text-danger"></span>
                </div>

            </div>

            <div class="d-flex">
                <button type="submit" class="btn btn-success mb-4 me-4">Enregistrer</button>
                <a class="btn btn-outline-primary mb-4" th:href="@{/preparation}">Retour à la liste</a>
            </div>
        </form>
    </div>
</section>
</body>
</html>