<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="./base">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>reception new</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container my-2">
        <h1>Liste des receptions</h1>

        <div class="d-flex mt-4">
            <a th:href="@{/reception/add-form}" class="btn btn-primary btn-sm mb-3 me-3"> Ajouter une nouvelle reception </a>
        </div>

        <table class="table table-striped table-responsive-md table-bordered text-center">
            <thead>
            <tr>
                <th>No</th>
                <th>Date de reception</th>
                <th>Glacière</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reception, index : ${receptions}">
                <td th:text="${index.index +1}"></td>
                <td th:text="${reception.date_reception}"></td>
                <td th:text="${reception.glaciere.libelle}"></td>
                <td>
                    <a th:href="@{/reception/edit-form(id=${reception.id})}" class="btn btn-warning">Modifier</a>
                    <a th:href="@{/reception/show(id=${reception.id})}" class="btn btn-warning">Details</a>
                    <a th:href="@{/reception/delete(id=${reception.id})}" class="btn btn-outline-danger">Supprimer</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>