<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="./base">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>reception update</title>
</head>
<body>
<section layout:fragment="content" class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">

        <form th:action="@{/reception/update}" th:object="${reception}" method="POST">
            <h2 class="mb-4">Modifier une reception</h2>
            <input type="hidden" th:field="*{id}">
            <div class="mb-4">
                <label class="form-label" for="glaciere">Glaciere</label>
                <select th:field="*{glaciere.id}" class="form-select" name="glaciere" id="glaciere">
                    <option th:each="glaciere : ${glacieres}" th:value="${glaciere.id}" th:text="${glaciere.libelle}" th:selected="${glaciere.id == reception.glaciere.id}"></option>
                </select>
            </div>

            <div class="d-flex">
                <button type="submit" class="btn btn-success mb-4 me-4">Modifier</button>
                <a class="btn btn-outline-primary mb-4" th:href="@{/reception}">Retour à la liste</a>
            </div>

        </form>
    </div>
</section>
</body>
</html>