<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="./base">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ambulancier update</title>
</head>
<body>
    <section layout:fragment="content" class="container">
        <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
            <form th:action="@{/patient/update}" th:object="${patient}" method="POST" CLASS="mb-5">
                <input type="hidden" name="id" th:field="*{id}">
                <input type="hidden" name="code" th:field="*{code}">
                <h2 class="mb-4">Modifier les informations d'un patient</h2>
                <div class="row">
                    <div class="mb-4 col-4">
                        <label for="nom">Nom:</label>
                        <input type="text" id="nom" th:field="*{nom}" placeholder="Nom ambulancier" class="form-control">
                        <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="text-danger"></span>
                    </div>

                    <div class="mb-4 col-4">
                        <label for="prenom">Prenom:</label>
                        <input type="text" id="prenom" th:field="*{prenom}" placeholder="Prenom patient" class="form-control">
                        <span th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}" class="text-danger"></span>
                    </div>

                    <div class="mb-4 col-4">
                        <label for="date_naissance">Date de Naissance:</label>
                        <input type="date" id="date_naissance" th:field="*{date_naissance}" placeholder="Naissance patient" class="form-control">
                        <span th:if="${#fields.hasErrors('date_naissance')}" th:errors="*{date_naissance}" class="text-danger"></span>
                    </div>

                    <div class="mb-4 col-4">
                        <label for="contact">Contact:</label>
                        <input type="text" id="contact" th:field="*{contact}" placeholder="Contact patient" class="form-control">
                        <span th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}" class="text-danger"></span>
                    </div>

                    <div class="mb-4 col-4">
                        <label for="email">E-mail:</label>
                        <input type="email" id="email" th:field="*{email}" placeholder="Email patient" class="form-control">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                    </div>

                    <div class="mb-4 col-4">
                        <label for="adresse">Adresse:</label>
                        <input type="text" id="adresse" th:field="*{adresse}" placeholder="Adresse patient" class="form-control">
                        <span th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex">
                    <button type="submit" class="btn btn-success me-4 mb-4">Modifier</button>
                    <a th:href="@{/patient}" class="mb-4 btn btn-outline-primary"> Retour à la liste</a>
                </div>
            </form>
        </div>
    </section>

</body>
</html>