<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="./base">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>glaciere list</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container my-2">
        <h1>Liste des glacières</h1>

        <a th:href="@{/glaciere/add-form}" class="btn btn-primary btn-sm mb-3"> Ajouter une glacière </a>

        <table class="table table-striped table-responsive-md table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Libellé</th>
                <th>Nombre échantillon</th>
                <th>Température d'arrivée</th>
                <th>Température de départ</th>
                <th>Ambulancier</th>
                <th>Conformité</th>
                <th>Cause de conformité</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="glaciere : ${glacieres}">
                <td th:text="${glaciere.id}"></td>
                <td th:text="${glaciere.libelle}"></td>
                <td th:text="${glaciere.nombre}"></td>
                <td th:text="${glaciere.ambulancier.nom}"></td>
                <td th:text="${glaciere.temperature_depart}"></td>
                <td th:text="${glaciere.temperature_arrivee}"></td>
                <td th:text="${glaciere.conformite.libelle}"></td>
                <td th:text="${glaciere.cause_non_conformite}"></td>
                <td>
                    <a th:href="@{/glaciere/edit(id=${glaciere.id})}" class="btn btn-warning">Modifier</a>
                    <a th:href="@{/glaciere/delete(id=${glaciere.id})}" class="btn btn-outline-danger">Supprimer</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>