<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="./base">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>glaciere list</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container my-2">
        <h1>Liste des glacières</h1>

        <div class="d-flex mt-4">
            <a th:href="@{/glaciere/add-form}" class="btn btn-secondary btn-sm mb-3 me-3"> Ajouter une nouvelle glacière </a>
            <a th:href="@{/reception/add-form}" class="btn btn-primary btn-sm mb-3 me-3"> Ajouter une nouvelle reception </a>
            <a th:href="@{/ambulancier/add-form}" class="btn btn-warning btn-sm mb-3"> Ajouter un nouvel ambulancier</a>
        </div>

        <table class="table table-striped table-responsive table-bordered text-center">
            <thead>
            <tr>
                <th>No</th>
                <th>Libellé</th>
                <th>Nombre échantillons</th>
                <th>Conformité</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="glaciere, index : ${glacieres}">
                <td th:text="${index.index +1}"></td>
                <td th:text="${glaciere.libelle}"></td>
                <td th:text="${glaciere.nombre_prelevement}"></td>
                <td th:text="${glaciere.conformite.libelle}"></td>
                <td>
                    <a th:href="@{/glaciere/edit(id=${glaciere.id})}" class="btn btn-warning">Modifier</a>
                    <a th:href="@{/glaciere/edit(id=${glaciere.id})}" class="btn btn-info">Details</a>
                    <a th:href="@{/glaciere/delete(id=${glaciere.id})}" class="btn btn-outline-danger">Supprimer</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>