<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="./base">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>client list</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container my-2">
        <h1>Liste des clients</h1>

        <div class="d-flex mt-4">
            <a th:href="@{/client/add-form}" class="btn btn-primary btn-sm mb-3 me-3"> Ajouter un nouveau client </a>
        </div>

        <table class="table table-striped table-responsive table-bordered text-center">
            <thead>
            <tr>
                <th>No</th>
                <th>Type Client</th>
                <th>Raison Sociale</th>
                <th>Contact</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client, index : ${clients}">
                <td th:text="${index.index +1}"></td>
                <td th:text="${client.typeClient.libelle}"></td>
                <td th:text="${client.raison_sociale}"></td>
                <td th:text="${client.contact}"></td>

                <td class="d-flex text-align">
                    <a th:href="@{/client/edit-form(id=${client.id})}" class="btn btn-warning btn-sm ">Modifier</a>
                    <a th:href="@{/client/show(id=${client.id})}" class="btn btn-outline-info btn-sm ms-1">Details</a>
                    <a th:href="@{/client/delete(id=${client.id})}" class="btn btn-outline-danger btn-sm ms-1">Supprimer</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>