<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="./base">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>clients list</title>

</head>
<body>
<section layout:fragment="content" class="section">
    <div class="container my-2">
        <h1>Liste des clients</h1>

        <a th:href="@{/client/add-form}" class="btn btn-primary btn-sm mb-3">Ajouter un client</a>
        <a th:href="@{/client/add-form}" class="btn btn-warning btn-sm mb-3">Ajouter Une glacière</a>

        <table class="table table-striped table-responsive table-bordered text-center">
            <thead>
            <tr>
                <th>No</th>
                <th>Type</th>
                <th>Raison Social</th>
                <th>Code client</th>
                <th>Responsable</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client, index : ${clients}">
                <td th:text="${index.index}"></td>
                <td th:text="${client.typeClient.libelle}"></td>
                <td th:text="${client.raison_social}"></td>
                <td th:text="${client.code_client}"></td>
                <td th:text="${client.responsable}"></td>
                <td th:text="${client.contact}"></td>
                <td th:text="${client.email}"></td>
                <td th:text="${client.adresse}"></td>
                <td>
                    <a th:href="@{/client/edit(id=${client.id})}" class="btn btn-warning">Modifier</a>
                    <a th:href="@{/client/delete(id=${client.id})}" class="btn btn-outline-danger">Supprimer</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>