<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="./base">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>client new</title>
</head>
<body>
<section layout:fragment="content" class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">

        <form th:action="@{/client/add}" th:object="${client}" method="POST">
            <h2 class="mb-4">Enregistrer un client</h2>
            <div class="row">
                <div class="mb-4 col-4">
                    <label class="form-label" for="typeClient">Type Client:</label>
                    <select th:field="*{typeClient}" class="form-select" name="typeClient" id="typeClient">
                        <option th:each="typeClient : ${typeClients}" th:value="${typeClient.id}" th:text="${typeClient.libelle}"></option>
                    </select>
                    <span th:if="${#fields.hasErrors('typeClient')}" th:errors="*{typeClient}" class="text-danger"></span>
                </div>

                <div class="mb-4 col-3">
                    <label class="form-label" for="raison_sociale">Raison Sociale:</label>
                    <input type="text" id="raison_sociale" th:field="*{raison_sociale}" class="form-control">
                    <span th:if="${#fields.hasErrors('raison_sociale')}" th:errors="*{raison_sociale}" class="text-danger"></span>
                </div>

                <div class="mb-4 col-3">
                    <label class="form-label" for="responsable_client">Responsable Client:</label>
                    <input type="text" id="responsable_client" th:field="*{responsable_client}" class="form-control">
                    <span th:if="${#fields.hasErrors('responsable_client')}" th:errors="*{responsable_client}" class="text-danger"></span>
                </div>

                <div class="mb-4 col-3">
                    <label class="form-label" for="contact">Contact:</label>
                    <input type="text" id="contact" th:field="*{contact}" class="form-control">
                    <span th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}" class="text-danger"></span>
                </div>

                <div class="mb-4 col-4">
                    <label class="form-label" for="email">E-mail:</label>
                    <input type="email" id="email" th:field="*{email}" class="form-control">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                </div>

                <div class="mb-4 col-4">
                    <label class="form-label" for="adresse">Adresse:</label>
                    <input type="text" id="adresse" th:field="*{adresse}" class="form-control">
                    <span th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}" class="text-danger"></span>
                </div>
            </div>

            <div class="d-flex">
                <button type="submit" class="btn btn-success mb-4 me-4">Enregistrer</button>
                <a class="btn btn-outline-primary mb-4" th:href="@{/client/}">Retour à la liste</a>
            </div>

        </form>
    </div>
</section>
</body>
</html>