<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="./base">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>client details</title>
</head>
<body>


<section layout:fragment="content" th:object="${client}" class="container">
    <div class="d-flex mt-4 mb-5">
        <a th:href="@{/client/add-form}" class="btn btn-secondary btn-sm me-3"> Ajouter un nouveau client </a>
        <a class="btn btn-outline-primary btn-sm" th:href="@{/client}">Retour à la liste</a>
    </div>
    <h1 class="mt-2 d-flex justify-content-center" >Informations du client</h1>
    <div class="row">
        <div class="col-6 ">
            <h5>Type Client :<span th:text="*{typeClient.libelle}" class="badge bg-primary"></span></h5>
            <h5>Raison sociale :<span th:text="*{raison_sociale}" class="badge bg-primary"></span></h5>
            <h5>Responsable :<span th:text=" *{responsable_client}" class="badge bg-primary"></span></h5>
            <h5>Contact :<span th:text=" *{contact}" class="badge bg-primary"></span></h5>
            <h5>E-mail :<span th:text=" *{email}" class="badge bg-primary"></span></h5>
            <h5>Adresse :<span th:text=" *{adresse}" class="badge bg-primary"></span></h5>
        </div>
        <div class="col-6">
            <img src="/images/reception.jpg" width="500" alt="reception">
        </div>
    </div>

</section>

</body>
</html>