<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="./base">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>appUser new</title>
</head>
<body>
<section layout:fragment="content" class="container">
    <div class="d-flex justify-content-center">

        <form th:action="@{/user/update}" th:object="${user}" method="POST">
            <h2 class="mb-4 text-center">Mettre à jour un utilisateur</h2>
            <input type="hidden" th:field="*{id}">
            <div class="">

                <div class="mb-4">
                    <label class="form-label" for="username">Nom d'utilisateur:</label>
                    <input type="text" id="username" name="username" th:field="*{username}" class="form-control">
                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>
                </div>

                <div class="mb-4">
                    <label class="form-label" for="password">Mot de passe:</label>
                    <input type="password" id="password" name="password" th:field="*{password}" class="form-control">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                </div>

                <div class="mb-4">
                    <label class="form-label" for="role">Role:</label>
                    <select th:field="*{roles}" class="form-select" name="role" id="role" multiple>
                        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.libelle}" th:selected="${role.id == user.roles}"></option>
                    </select>
                    <span th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" class="text-danger"></span>
                </div>

            </div>

            <div class="d-flex">
                <button type="submit" class="btn btn-success mb-4 me-4">Enregistrer</button>
                <a class="btn btn-outline-primary mb-4" th:href="@{/user}">Retour à la liste</a>
            </div>

        </form>
    </div>
</section>
</body>
</html>