<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="./base">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>reception new</title>
</head>
<body >
<section layout:fragment="content">
    <div class="container" style="color: grey">
        <h2 class="text-center mb-5 text-uppercase" style="color: #6c757d" >Tableau de Bord</h2>

        <div class="row">
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <legend class="text-center text-uppercase text-primary">réception</legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div align="right">Aujourd'hui:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div align="left" th:text="${total_reception_jour}"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div align="right">Ce mois:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div align="left" th:text="${total_reception_mois}"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div align="right">Total:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div align="left" th:text="${total_reception}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <legend class="text-center text-uppercase text-primary">préparation</legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div align="right">Aujourd'hui:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div align="left" th:text="${total_preparation_jour}"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div align="right">Ce mois:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div align="left" th:text="${total_preparation_mois}"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div align="right">Total:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div align="left" th:text="${total_preparation}"></div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <legend class="text-center text-uppercase text-primary">conservation</legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div align="right">Aujourd'hui:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div align="left" th:text="${total_conservation_jour}"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div align="right">Ce mois:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div align="left" th:text="${total_conservation_mois}"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div align="right">Total:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div align="left" th:text="${total_conservation}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <legend class="text-center text-uppercase text-primary">mise à disposition</legend>
                                <p class="text-center">Aucune mise à disposition</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
</body>
</html>